{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body text-center">

            <!-- Аватар пользователя -->
            {% if user.profile.avatar %}

                <img
                    src="{{ user.profile.avatar.url }}"
                    class="rounded-circle mb-4"
                    width="180"
                    height="180"
                    style="object-fit: cover;">

            {% else %}

                <img
                   src="{% static 'css/images/default_avatar.jpg' %}"
                    class="rounded-circle mb-4"
                    width="180"
                    height="180"
                    style="object-fit: cover;">

            {% endif %}

            <h2 class="mb-4">
                Мой профиль
            </h2>

            <p>
                <strong>Имя:</strong>
                {{ user.first_name|default:"Не указано" }}
            </p>

            <p>
                <strong>Фамилия:</strong>
                {{ user.last_name|default:"Не указано" }}
            </p>

            <p>
                <strong>Email:</strong>
                {{ user.email|default:"Не указан" }}
            </p>

            <p>
                <strong>Логин:</strong>
                {{ user.username }}
            </p>

            <div class="mt-4">

                
                <a
                 href="{% url 'edit_avatar' %}"
                class="btn btn-primary">

                 Изменить фотографию

                </a>

             <a
                href="{% url 'edit_profile' %}"
                class="btn btn-outline-primary">

                Редактировать профиль

            </a>   

            </div>

        </div>

    </div>

</div>

{% endblock %}